<h1>Course {{course.name}}</h1>
<h2>Students for new round</h2>
<label for="students">Students</label>
<i>copy paste or type one per line</i>
<textarea id="students" class="form-control" rows="15" ng-model="course.students"></textarea>
<label>Number of groups: <input class="form-control"  type="number" min="1" ng-model="groupCount"/></label>
<button class="btn btn-success" ng-click="assign()">Assign</button>

<h2>Previous rounds</h2>
<p><i>click on a student name to highlight</i></p>
<div ng-hide="rounds">...LOADING...</div>
<div class="round" ng-repeat="r in roundsOrder" ng-init="groups=rounds[r]">
  <h3>Round {{r}} ({{groups | length}})</h3>
  <div class="group" ng-repeat="g in groupsOrder[r]" ng-init="students=rounds[r][g]">
    <h4>Group {{g}} ({{students.length}})</h3>
    <ul>
      <li class="student" ng-repeat="s in students" ng-bind="s" ng-class="{active:s == selectedStudent}" ng-click="setActiveStudent(s)"></li>
    </ul>
  </div>
</div>
<div class="panel panel-primary" ng-show="roundResult" id="assign-result">
  <div class="panel-heading">
    <h3 class="panel-title">Round {{roundResult.round}}</h3>
  </div>
  <div class="panel-body">
    <div class="group" ng-repeat="g in groupsOrder[roundResult.round]" groupsOrder" ng-init="students=rounds[r][g]">
      <h4>Group {{g}} ({{students.length}})</h3>
      <ul>
        <li class="student" ng-repeat="s in students" ng-bind="s" ng-class="{active:s == selectedStudent}" ng-click="setActiveStudent(s)"></li>
      </ul>
    </div>  
  </div>
   <div class="panel-footer text-right"><button class="btn btn-primary" ng-click="roundResult=''">Close</button></div>
</div>